<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.description %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.stars %></p>

<br>
<%= link_to 'Back to all restaurants', restaurants_path %>
</div>
