<div class="container">
  <h1>Add a review for <%= @restaurant.name %></h1>
  <hr>
  <%= simple_form_for [@restaurant, @review] do |r| %>
  <%= r.input :content %>
  <%= r.input :ratings %>
  <br>
  <%= r.submit class: 'btn btn-success' %>
<% end %>
  <hr>
  <%= link_to 'Back to all restaurants', restaurants_path %>
</div>
